:root {
  --color-primary: rgba(0, 0, 0, 0.94);
  --color-secondary: rgba(0, 0, 0, 0.8);
  --color-tertiary: #ff0;
  --color-primary-font: gray;
  --color-second-font: #2764f3;
  --color-tertiary-font: #6e75f8;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-primary);
  color: var(--color-primary-font);
}

main {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.container {
  width: 90%;
  margin: auto;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
}
.head h2 {
  color: var(--white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary-font);
}

/* end- public styling */

/* start- header styling */
header {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
}

header h1 {
  cursor: pointer;
  font-size: 2.4rem;
  font-style: italic;
  color: var(--color-tertiary-font);
}

header h1::first-letter {
  color: var(--color-second-font);
  word-spacing: 1px;
}

header .nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.6rem;
}

header .nav ul li {
  padding: 0.4rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}
header .nav ul li:hover {
  background-color: var(--color-second-font);
}

header .nav ul li a {
  font-size: 1.2rem;
}

header .nav ul li:hover a {
  color: var(--white);
}

.icon {
  font-size: 1.8rem;
  color: var(--white);
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  display: none;
}

/* end-header-styling */

/* main section */
.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.hero_desc {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* .hero_desc img {
  width: 100%;
  border-radius: 0.4rem;
} */

.hero_desc span {
  font-size: 1rem;
  cursor: pointer;
}
.hero_desc .name {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

.hero_desc .job {
  font-size: 2.4rem;
  color: var(--color-second-font);
  cursor: pointer;
}

.soc_icon {
  display: flex;
  justify-content: initial;
  align-items: center;
  gap: 1rem;
  margin: 0.4rem 0rem;
}

.soc_icon li {
  padding: 0.4rem;
}

.soc_icon a {
  font-size: 1.8rem;
  color: var(--color-primary-font);
  transition: all 0.3s ease;
  border-radius: 50%;
}

.soc_icon a :hover {
  color: var(--color-tertiary-font);
}

.hero_desc .action {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: var(--color-second-font);
  color: var(--white);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.89rem;
}
.btn:hover {
  background-color: var(--color-tertiary-font);
}

.hero_img {
  width: 60%;
  padding: 1rem 0.1rem;
  border-radius: 5%;
  /* background-color: var(--color-secondary); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
}

.hero_img img {
  width: 100%;
  cursor: pointer;
  border-radius: 50%;
  height: auto;
}
/* end style section hero  */

/* start style section services */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.service {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 5%;
}

.service_icon {
  font-size: 2.4rem;
  color: var(--color-tertiary-font);
  cursor: pointer;
}

.service_title {
  font-size: 1.4rem;
  color: var(--color-second-font);
  cursor: pointer;
}

.service p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.76);
  cursor: pointer;
  line-height: 1.4;
}
/* end section services */

/* start section about */
.about {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.about_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.about_img {
  width: 60%;
  padding: 1rem 0.1rem;
  border-radius: 5%;
  /* background-color: var(--color-secondary); */
  height: auto;
}

.about_img img {
  width: 100%;
  cursor: pointer;
  border-radius: 5%;
  height: auto;
}

.about_desc p {
  font-size: 1.2rem;
  cursor: pointer;
  line-height: 1.4;
}

/* end-section about */

/* start  section portfilo */
.sub_nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sub_nav li {
  padding: 0.4rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}

.sub_nav li:hover {
  background-color: var(--color-second-font);
}
.sub_nav li:hover a {
  color: var(--white);
}
/* end  section portfilo */
/* start section contact */
.contact {
  margin-bottom: 3rem;
  margin-top: 3rem;
  width: 80%;
  margin: auto;
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.contact_form input,
.contact_form textarea {
  background-color: var(--color-secondary);
  color: var(--color-primary-font);
  border: 1px solid var(--color-primary-font);
  outline: none;
  font-size: 1.2rem;
  width: 60%;
  padding: 0.4rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}

.contact_form input:hover,
.contact_form textarea:hover {
  background-color: var(--color-secondary);
  color: rgba(255, 255, 255, 0.9);
}

.contact_form input::placeholder,
.contact_form textarea::placeholder {
  color: gray;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.contact_form input {
}

.contact_form textarea {
}

.form_btn {
  font-size: 1.4rem;
  text-transform: capitalize;
  padding: 0.6rem 1.8rem;
  background-color: var(--color-primary);
}
/* end section contact */

/* media query to make website responsive */

@media screen and (max-width: 768px) {
  p {
    font-size: 1.6rem;
  }
  .container {
    width: 95%;
  }
  .nav {
    display: none;
  }

  .icon {
    display: block;
  }
  .head {
    margin-bottom: 0.6rem;
    width: 100%;
  }
  .head p {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4;
    /* font-weight: bold; */
  }

  .btn {
    font-size: 1.8rem;
  }
  .hero_img {
    order: 1;
  }
  .hero_desc {
    order: 2;
  }

  .service p {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about_desc p {
    font-size: 1.8rem;
    line-height: 1.6;
    padding: 1rem;
  }

  .contact_form input,
  .contact_form textarea {
    width: 100%;
  }
}
